* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

/* Navigation Styling */
.icon {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 5rem;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;

    font-size: 16px;
}

.nav-list li,
.nav-list li a {
    list-style: none;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}

.nav-list li a:hover {
    color: hsl(220, 13%, 13%);
}

.info {
    display: flex;
    align-items: center;
    gap: 3rem;

    position: relative;
}

.avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 3px solid transparent;
}

.avatar:hover {
    border-radius: 50%;
    border: 3px solid hsl(26, 100%, 55%);
}

.cart {
    position: absolute;
    top: 75px;
    right: 0;
    transform: translateX(25%);

    background-color: white;
    border-radius: 10px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 25px -10px rgba(0, 0, 0, .75);

    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    z-index: 99;
}

.cart h2 {
    font-size: 16px;
    font-weight: 700;

    padding-top: 1rem;
    padding-left: 1rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: hsla(219, 9%, 45%, .25);
}

.cart-items {
    width: 350px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-left: 1rem;
    padding-right: 1rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.cart-item div {
    font-size: 16px;
    color: hsl(219, 9%, 45%);
}

.cart-item .icon {
    width: 15px;
    height: 20px;
}

#total {
    font-weight: 700;
    color:rgb(0, 0, 0);
}

.cart .btn {
    width: 90%;
    margin: 0 auto;
}

.btn {
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 1rem 0;
    margin-bottom: 1rem;

    font-size: 16px;
    font-weight: 400;
}

.btn:hover {
    cursor: pointer;
    opacity: 75%;
}

#empty {
    font-size: 16px;
    font-weight: 700;
    color: hsl(219, 9%, 45%);
    text-align: center;
    margin: 4rem 0;
}

#cart {
    position: relative;
}

#cart-count {
    position: absolute;
    top: 10px;
    left: 10px;

    font-size: 10px;
    color: white;
    background-color: hsl(26, 100%, 55%);
    border-radius: 50%;
    padding: 0 5px;
}

/* Main Styling */
.merchandise {
    width: 95%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    margin-top: 5rem;
}

.merchandise-media {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-image {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.thumbnails {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;

    margin: 1rem 0;
}

.thumbnails div {
    width: 100%;
}

.thumbnails img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.thumbnails img:hover {
    cursor: pointer;
    opacity: 50%;
}

.current-thumbnail {
    border: 3px solid hsl(26, 100%, 55%);
    border-radius: 15px;
}

.current-thumbnail img{
    opacity: 50%;
}

.merchandise-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 1.5rem;
}

.merchandise-info h2 {
    font-size: 16px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
}

.merchandise-info h1 {
    font-size: 60px;
    font-weight: 700;
}

.merchandise-info p {
    font-size: 16px;
    font-weight: 400;
    color: hsl(219, 9%, 45%);
    line-height: 2;
}

.merchandise-info div h3 {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

#price {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    font-size: 30px;
    font-weight: 700;
    color:rgb(0, 0, 0);
}

#discount {
    font-size:18px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    background-color: hsla(26, 100%, 55%, .25);
    padding: .25rem .5rem;
    border-radius: 5px;
}

#original-price {
    font-size: 18px;
    font-weight: 700;
    color: hsla(219, 9%, 45%, 0.5);
    text-decoration: line-through;
}

.cart-handle {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.amount-handle {
    /* width: 100px;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: hsla(220, 14%, 75%, .25);
    border-radius: 5px;

    padding: 0.5rem 1rem;
}

#amount {
    font-size: 16px;
    font-weight: 700;
    color:rgb(0, 0, 0);
}

.cart-handle .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 0;
}

/* Footer Styling */
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 1rem;

    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1440px) {
    body {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1000px) {
    #hamburger,
    #close {
        display: none;
    }

    .nav-list.close,
    .nav-close-bg {
        display: flex;
    }

    .navbar {
        border-bottom: 5px solid hsla(219, 9%, 45%, 0.15);
    }

    .nav-list li,
    .logo {
        padding: 3rem 0;
        border-bottom: 5px solid transparent;
    }

    .nav-list li:hover {
        border-bottom: 5px solid hsl(26, 100%, 55%);
    }

    .amount-handle {
        width: 100px;
        margin: 0 auto;
    }

    .merchandise-media-hover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 25%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    #close-hover {
        position: absolute;
        top: -25px;
        right: 0;
    }

    #prev, #next {
        background-color: white;
        border-radius: 50%;
        padding: 0.5rem 0.75rem;
    }

    #prev {
        position: absolute;
        left: -20px;
        transform: translateY(-50%);
    }

    #next {
        position: absolute;
        right: -20px;
        transform: translateY(-50%);
    }

    .merchandise-media-hover #current-image {
        width: 100%;
        margin: 0 auto;
    }

    .merchandise-media-hover .thumbnails {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 1rem;

        margin: 0 auto;
    }

    .merchandise-media-hover #thumbnail {
        width: 75px;
        height: 100%;
    }

    .hover-close-bg {
        position: absolute;
        left: -200%;
        width: 5000px;
        height: 5000px;
        background-color: rgba(0, 0, 0, .75);
        z-index: -1;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        width: 90%;
        margin: 1rem auto;
    }

    #hamburger {
        padding-top: 3px;
        margin-right: 0.5rem;
    }

    .nav-list {
        width: 60%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        flex-direction: column;
        align-items: flex-start;

        padding: 1.5rem 1.5rem;
        background-color: white;

        z-index: 99;
    }

    .nav-list li a {
        font-size: 20px;
        font-weight: 700;
        color:hsl(220, 13%, 13%);
    }

    .nav-close-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0);
        opacity: 75%;
        z-index: 1;
    }

    .info {
        gap: 1rem;
    }

    .avatar {
        width: 25px;
        height: 25px;
    }

    .cart {
        top: 200%;
        right: 130%;
    }

    .merchandise {
        width: 100%;
        margin: 0 auto;
        
        grid-template-columns: 1fr;
        justify-content: center;

        margin: 0;
        padding: 0;
    }

    .merchandise-media {
        display: none;
    }

    #current-image {
        border-radius: 0;
    }

    .merchandise-info {
        padding: 1rem;
    }

    .merchandise-info h1 {
        font-size: 30px;
    }

    .merchandise-info div h3 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cart-handle {
        width: 350px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;

    }

    .amount-handle {
        width: 100%;
    }

    .cart-handle .btn {
        width: 380px;
    }

    .merchandise-media-hover.close {
        position: relative;
        display: flex;
    }

    .merchandise-media-hover #close-hover {
        display: none;
    }

    .merchandise-media-hover .thumbnails {
        display: none;
    }

    .merchandise-media-hover .hover-close-bg {
        display: none;
    }

    #prev, #next {
        background-color: white;
        border-radius: 50%;
        padding: 0.5rem 0.75rem;
    }

    #prev {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }

    #next {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

.close {
    display: none;
}